<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

        <meta charset="UTF-8">
        <title>login</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/theme.css' %}" />
</head>

<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Being women is incredible</h1>

        <p class="lead">Don't leave it unsaid.. Don't be silent anymore. 
Speak your heart.. Speak your mind. Because when women come together.. incredible things happen </p>


        <p class="lead"><a class="btn btn-lg btn-info" href="/talks/" id="join">Join your world</a></p>
      </div>

    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'talks/js/vegas/vegas.js' %}"></script>

</body>
</html>
